$LightGreen :#b9e7e7;
.app {
    display: flex;
    justify-content: center;
    .container {
        width: 1024px;
        margin: 0;
        /* Reset default margin */
        padding: 0;
        /* Reset default padding */
        .link {
            text-decoration: none;
            color: inherit;
        }
        //Login and Register
        .auth {
            margin: 0;
            width: 1094px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 725px;
            background: linear-gradient( rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url("../src/img/bg1.png");
            background-size: cover;
            h1 {
                margin: 0;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                text-transform: uppercase;
                font-size: 35px;
                color: #1898e8;
                font-weight: 500;
            }
            form {
                display: flex;
                flex-direction: column;
                padding: 30px;
                background-color: inherit;
                gap: 25px;
                input {
                    font-family: ConsulSans-750, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
                    padding: 10px;
                    border: none;
                    font-weight: 500;
                    border-bottom: 1px solid black;
                }
                p {
                    font-family: ConsulSans-750, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
                    font-size: 16px;
                    color: red;
                    text-align: center;
                }
                button {
                    font-family: ConsulSans-750, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
                    padding: 10px;
                    border: none;
                    font-size: 17px;
                    background-color: white;
                    cursor: pointer;
                    transition: all ease-in-out 0.4s;
                    color: #1898e8;
                    font-weight: 500;
                    &:hover {
                        color: white;
                        background-color: #1898e8;
                    }
                }
                span {
                    font-family: ConsulSans-750, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
                    font-size: 16px;
                    text-align: center;
                    font-weight: 500;
                }
            }
        }
        //Navbar 
        .navbar {
            .container {
                width: 100%;
                padding: 10px 0px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .logo {
                    img {
                        width: 250px;
                    }
                }
                .links {
                    font-family: ConsulSans-750, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    h5 {
                        font-family: ConsulSans-750, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
                        display: flex;
                        justify-content: space-evenly;
                        font-size: 18px;
                        font-weight: 450;
                        position: relative;
                        cursor: pointer;
                        color: black;
                        /* Default text color */
                        transition: color 0.3s;
                        /* Smooth transition for text color change */
                        &:hover {
                            font-weight: 450;
                            color: teal;
                            /* Change text color on hover */
                        }
                        &:before {
                            content: "";
                            position: absolute;
                            bottom: -3px;
                            /* Adjust position to align with text */
                            left: 0;
                            width: 100%;
                            height: 2px;
                            /* Thickness of the underline */
                            background-color: #0071e2;
                            /* Underline color */
                            transform: scaleX(0);
                            /* Initially hide the underline */
                            transform-origin: bottom left;
                            /* Align underline with text */
                            transition: transform 0.3s ease-in-out;
                            /* Smooth animation for underline */
                        }
                        &:hover:before {
                            transform: scaleX(1);
                            /* Show underline on hover */
                        }
                    }
                    span {
                        display: flex;
                        justify-content: space-evenly;
                        &.username {
                            margin-left: 40px;
                            font-size: 18px;
                            font-weight: 550;
                            color: #0071e2;
                        }
                        &.logout {
                            font-size: 17px;
                            cursor: pointer;
                            display: inline-block;
                            padding: 10px 20px;
                            background-color: #57c4ff31;
                            color: #0071e2;
                            text-align: center;
                            text-decoration: none;
                            border-radius: 25px;
                            border: 1px solid teal;
                            border: none;
                            transition: background-color 0.3s ease;
                        }
                    }
                    .login {
                        margin-left: 95px;
                        font-size: 17px;
                        cursor: pointer;
                        display: inline-block;
                        padding: 10px 20px;
                        background-color: #57c4ff31;
                        color: #0071e2;
                        text-align: center;
                        text-decoration: none;
                        border-radius: 25px;
                        border: 1px solid teal;
                        border: none;
                        transition: background-color 0.3s ease;
                    }
                    .write {
                        background-color: #48cae4;
                        padding: 10px 20px;
                        border-radius: 25px;
                        border: none;
                        transition: all ease-in-out 0.2s;
                        font-size: 17px;
                        color: white;
                        &:hover {
                            color: #0071e2;
                            background-color: #57c4ff31;
                        }
                    }
                }
            }
        }
        //Footer
        footer {
            width: 100%;
            margin-top: 100px;
            padding: 10px;
            background-color: #7bcbdd;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 15px;
            img {
                height: 60px;
            }
        }
        // Home
        .home {
            justify-content: center;
            .carousel-container {
                opacity: 1;
                width: 98%; // Set the width as per your requirement
                margin: 0 auto; // Center the carousel
            }
            .carousel .slide img {
                border-radius: 10px;
                height: 400px; // Set the height as per your requirement
                object-fit: cover; // Make sure the image covers the entire slide
                transition: transform 0.5s ease-in-out; // Smooth transition for image changes
            }
            .carousel .legend {
                position: absolute;
                bottom: 40px;
                /* Adjust position as needed */
                left: 50%;
                width: 90%;
                border-radius: 10px;
                padding: 10px;
                font-size: 14px;
                text-align: center;
                opacity: 1;
                /* Ensure full opacity */
                background-color: black;
                /* Default background color */
                color: white;
                /* Default text color */
            }
            .carousel .legend h1 {
                margin: 0;
            }
            .carousel .legend:hover {
                /* No additional hover styles needed */
            }
            .carousel .legend:hover h1 {
                /* No additional hover styles needed */
            }
            .posts {
                margin-top: 50px;
                display: flex;
                flex-direction: column;
                gap: 150px;
                .post {
                    display: flex;
                    gap: 100px;
                    &:nth-child(2n+1) {
                        flex-direction: row-reverse;
                    }
                    .img {
                        flex: 3;
                        position: relative;
                        img {
                            width: 100%;
                            border-radius: 5px;
                            max-height: 400px;
                            /* Allow the image to adjust its height based on its aspect ratio */
                            display: block;
                            object-fit: cover;
                            /* Ensure the image covers the entire container */
                            /* Ensures proper rendering */
                            box-shadow: 15px 15px 2px#7bcbdd;
                        }
                    }
                    .content {
                        flex: 3;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        h1 {
                            font-size: 48px;
                        }
                        p {
                            font-size: 18px;
                            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                        }
                        button {
                            width: max-content;
                            padding: 10px 20px;
                            border: none;
                            cursor: pointer;
                            background-color: white;
                            border: 1px solid teal;
                            color: teal;
                            transition: background-color 0.5s ease;
                            border-radius: 25px;
                            &:hover {
                                border: 1px solid white;
                                background-color: $LightGreen;
                                color: black;
                            }
                        }
                    }
                }
            }
        }
        //SINGLE
        .single {
            display: flex;
            gap: 50px;
            .content {
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                flex: 5;
                display: flex;
                flex-direction: column;
                gap: 10px;
                img {
                    width: 100%;
                    height: 300px;
                    object-fit: cover;
                }
                .user {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-size: 15px;
                    .info {
                        display: flex;
                        flex-direction: column;
                        span {
                            font-family: 'Times New Roman', Times, serif;
                            font-weight: 650;
                            font-size: large;
                        }
                        p {
                            font-family: 'Times New Roman', Times, serif;
                            margin: 0;
                        }
                    }
                    img {
                        width: 52px;
                        height: 52px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }
                .edit {
                    display: flex;
                    gap: 9px;
                    margin-left: 20px;
                    img {
                        width: 35px;
                        height: 35px;
                        cursor: pointer;
                    }
                }
            }
            h1 {
                font-family: 'Times New Roman', Times, serif;
                font-size: 42px;
                color: #333;
                margin: 0;
            }
            p {
                margin: 0;
                text-align: justify;
                line-height: 30px;
            }
            .menu {
                flex: 2;
                display: flex;
                flex-direction: column;
                gap: 15px;
                h1 {
                    font-size: 20px;
                    color: #555;
                }
                .post {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    img {
                        width: 100%;
                        height: 200px;
                        object-fit: cover;
                    }
                    h2 {
                        color: #555;
                    }
                    button {
                        width: max-content;
                        padding: 7.5px 15px;
                        border: none;
                        cursor: pointer;
                        background-color: white;
                        border: 1px solid teal;
                        color: teal;
                        border-radius: 25px;
                        transition: background-color 0.5s ease;
                        &:hover {
                            border: 1px solid white;
                            background-color: $LightGreen;
                            color: black;
                        }
                    }
                }
            }
        }
        //Write
        .add {
            margin-top: 20px;
            display: flex;
            gap: 20px;
            .content {
                flex: 5;
                display: flex;
                flex-direction: column;
                gap: 20px;
                input {
                    padding: 10px;
                    border: 1px solid lightgray;
                }
                .editorContainer {
                    height: 400px;
                    overflow: scroll;
                    border: 1px solid lightgray;
                    .editor {
                        height: 100%;
                        border: none;
                    }
                    /* Added styles for React Quill editor to handle text wrapping and prevent overflow */
                    .ql-editor {
                        word-break: break-word;
                        white-space: pre-wrap;
                    }
                }
            }
            .menu {
                flex: 2;
                display: flex;
                flex-direction: column;
                gap: 20px;
                .item {
                    border: 1px solid lightgray;
                    padding: 10px;
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    font-size: 15px;
                    color: #555;
                    line-height: 25px;
                    font-family: ConsulSans-750, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
                    h1 {
                        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                        margin-top: 0;
                        font-size: 25px;
                    }
                    .file {
                        font-family: ConsulSans-750, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
                        text-decoration: underline;
                        cursor: pointer;
                    }
                    .buttons {
                        display: flex;
                        justify-content: space-between;
                        margin-top: 15px;
                         :first-child {
                            font-size: 15px;
                            font-family: ConsulSans-750, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
                            cursor: pointer;
                            color: teal;
                            background-color: white;
                            border: 1px solid teal;
                            padding: 6px 8px;
                            border-radius: 25px;
                        }
                         :last-child {
                            font-size: 15px;
                            font-family: ConsulSans-750, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
                            cursor: pointer;
                            color: white;
                            background-color: teal;
                            border: 1px solid teal;
                            padding: 6px 8px;
                            border-radius: 25px;
                        }
                    }
                    .cat {
                        display: flex;
                        align-items: center;
                        gap: 2px;
                        color: teal;
                    }
                }
            }
        }
    }
}